
<style>
    .attribution { 
        background-color: black;
        font-size: 14px; 
        text-align: center; 
        color: white;
        padding: 1rem;
    }
    .attribution a { 
        color: hsl(228, 45%, 44%); 
    }
</style>
<div class="attribution">
    Developed by: <a href="https://github.com/rafopm">Rafael Pampavilca</a>
</div>


